spring-namespace-middleware/src/main/resources/META-INF/namespace/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.wuxueyou.cn/schema/user"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.wuxueyou.cn/schema/user"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>
    <xsd:element name="self-user">
        <xsd:complexType>
            <!--这里的最外层的id是spring用的，用来定义bean的名称用的，不要和类中的id混淆了-->
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="userId" type="xsd:int" use="required"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
